.logo
{
    height: 36px;
    width: 36px;
    border-radius: 18px 18px 18px 18px;
    background: ;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -11px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.groupemini
{
    display: flex;
    align-items: center;
}
.groupe
{
    min-height: 46px;
    padding: 0px 11px 0px 11px;
}
.bouton
{
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 18px;
    color: #3c4043;
    cursor: pointer;
    display: inline-block;
    font: 400 12px arial,sans-serif;
    height: 36px;
    min-width: 36px;
    position: relative;
}
.liens
{
    display: flex;
}
.nomlogo
{
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    padding: 0px 8px 0px 8px;
}