@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rancho&display=swap');

#blocpage
{
    width: 70%;
    margin: auto;
    
    background-color: rgb(196, 44, 44);
    /*position: relative;*/

}
/*
#logosite
{
    font-family: 'Rancho', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: normal;
    color: #0065FC;
    /*position: absolute;*/
    /*top: 20px;
    left: 20px;*/
/*}