/* Navigation */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rancho&display=swap');

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.2em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    color: #0065FC;
}

nav a:hover
{
    color: #000000;
    /*border-bottom: 3px solid #760001;*/
}